<!doctype html>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
<html>
	<head>
		<title>Projeto 1</title>
	<meta charset="utf-8"/>
	</head>
	<div class="body-control">
		<header>
			<nav class="container">
			    <form class="form-inline">
			    	<img class='img-main-login' src="assets/images/l4.png">
			    	<img class='img-main-espaçamento-2' src="assets/images/espacamento.png">
		            <h6>Usuário:</h6>
		            <input class="form-control mr-sm-2" type="text" placeholder="" aria-label="Senha">
		            <h6>Senha: </h6>
		            <input class="form-control mr-sm-2" type="password" placeholder="" aria-label="Senha">
		            <button class="btn btn-primary btn-xl" type="button">Entrar</button>
			    </form>
			</nav>
		</header>
		<nav>
			<br><h1>Planeje sua viagem, crie seu roteiro</h1>
		</nav>
		<br>
		<article>
			<div>
				<carousel>
					<slide>
						<img class='img-main-carousel' src="assets/images/item1.jpg" alt="first slide" style="display: block; width: 100%;">
					    <div class="carousel-caption d-none d-md-block">
					    	<h3>Elevador Lacerda - BA</h3>
					    	<p>Nosso site é um auxiliador de itinerários, ou seja, vai auxiliar você a montar o seu roteiro de viagem.
					    	<br> Saiba onde ir em sua viagem.</p>
					    </div>
					</slide>
					<slide>
					    <img class='img-main-carousel' src="assets/images/item2.jpg" alt="second slide" style="display: block; width: 100%;">
					    <div class="carousel-caption d-none d-md-block">
					    	<h3>Parque Nacional do Iguaçu - PR</h3>
					    	<p>Conheça os principais pontos turísticos do Brasil. Em todas as regiões brasileiras<br>encontramos pontos turísticos que se destacam pelas belezas naturais<br>reconhecidas no mundo inteiro.</p>
					    </div>
					</slide>
					<slide>
					    <img class='img-main-carousel' src="assets/images/item3.jpg" alt="third slide" style="display: block; width: 100%;">
					    <div class="carousel-caption d-none d-md-block">
					    	<h3>Cristo Redentor - RJ</h3>
					    	<p>Isso significa que ajudamos a evitar a frustração de planejar uma viagem e não saber o que fazer,<br> com informações de locais como museus, pontos turísticos e eventos que vão acontecer<br>, simplesmente, mostrando-lhes novos locais.</p>
					    </div>
					</slide>
				</carousel>
			</div>
		</article>
		<footer>
			<br><br><a routerLink="/pagina2" class="btn btn-primary btn-lg">COMEÇAR</a> <hr/><br>
      <!--><br><br><a href="/pagina2/pagina2.component.html" class="btn btn-primary btn-lg">COMEÇAR</a> <hr/><br></!-->
		</footer>
	</div>
</html>