<!DOCTYPE html>
<html lang="en">

<head>
    <title>Teste</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
    </style>
</head>

<body>

    <div class="container-fluid">
        <div class="row content">
            <div class="col-sm-9">

                <h4>
                    <div class="form-group">
                        <label for="usr">Tag:</label>
                        <input type="text" class="form_control" id="usr">
                    </div>
                    <div class="container">
                        <button tupe="button" class="btn btn-warning">Aplicar Tag</button>
                        <a routerLink="/pagina3" class="btn btn-warning">Filtro Avançado</a>
                        <a routerLink="/pagina5" class="btn btn-warning">Recomendações</a>
                        <a routerLink="/heroes" class="btn btn-primary btn-lg">Montar Roteiro</a>
                    </div>
                </h4>
                <hr>
                <h2>Catedral Metropolitana de Brasília: </h2>
                <h5>
                    <span class="glyphicon glyphicon-time"></span> Post by Railton, Sep 09, 2018.</h5>
                <p>Projetada pelo arquiteto Oscar Niemeyer, foi o primeiro monumento a ser criado em Brasília. Sua pedra fundamental
                    foi lançada em 12 de setembro de 1958. Teve sua estrutura pronta em 1960, onde apareciam somente a área
                    circular de setenta metros de diâmetro, da qual se elevam dezesseis colunas de concreto (pilares de secção
                    parabólica) num formato hiperboloide, que pesam noventa toneladas. O engenheiro Joaquim Cardozo foi o
                    responsável pelo cálculo estrutural que permitiu a construção da catedral. Em 31 de maio de 1970, foi
                    inaugurada de fato, já nesta data com os vidros externos transparentes. (http://catedral.org.br/historia)
                    Visitação: Todos os dias, das 8h às 18h – Externa e interna livre. Tag(s): Brasília, Igreja, Arquitetura.
                    <br>
                    <br>
                    <hr>
                    <h2>Torre de TV e mirante de Brasília:</h2>
                    <h5>
                        <span class="glyphicon glyphicon-time"></span> Post by Daniel Lameira, Sep 10, 2018.</h5>
                    <p>A Torre de TV Brasília é um dos monumentos mais procurados na Capital Federal, com média de mil visitantes
                        por dia. Com 230 metros de altura, o atrativo está estrategicamente localizado no centro da cidade.
                        Uma das maiores diversões dos turistas de Brasília é subir até o mirante do local, a 75 metros do
                        solo, de onde se tem uma visão privilegiada da Esplanada dos Ministérios, Setores Hoteleiros Norte
                        e Sul, Estádio nacional de Brasília, Autódromo Nelson Piquet, Lago Paranoá, da cidade de Brasília
                        e outras Regiões Administrativas.(https://www.soubrasilia.com/turismo/torre-de-tv-brasilia/) Visitação:
                        Horários do Mirante: De 2ª, das 14h às18h, e de 3ª a domingo, das 8h às 18h – Entrada franca. Tag(s):
                        Brasília, Arquitetura.

                        <hr>
                        <h2>Museu Nacional de Brasília::</h2>
                        <h5>
                            <span class="glyphicon glyphicon-time"></span> Post by Daniel Lameira, Sep 10, 2018.</h5>
                        <p>O Museu Nacional de Brasília é integrante do Conjunto Cultural da República. É um espaço que insere
                            Brasília no circuito internacional das artes e mostra o que há de melhor na arte brasileira.
                            Confira! O espaço é utilizado para exposições itinerantes de artistas renomados e temas importantes
                            para a sociedade, palestras, mostra de filmes, seminários e eventos importantes. Dessa forma,
                            contribui para a educação democrática por meio da cultura e ativa o turismo.(http://www.soubrasilia.com/turismo/museu-nacional-de-brasilia/)
                            Visitação: de terça a domingo, das 9h às 18h30 – Entrada franca. Tag(s): Brasília, Museu, Arquitetura.
            </div>
        </div>
    </div>

    <footer class="container-fluid">
        <p>Projeto de desenvolvimento de software, 10 de Maio de 2018</p>
    </footer>

</body>

</html>
