<h1>Filtros</h1>

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<h2> Exibir e Nao Exibir
    <div class="container">
        Arquiteturas:
        <label class="radio-inline">
            <input type="radio" name="optradio">Exibir
        </label>
        <label class="radio-inline">
            <input type="radio" name="optradio">Nao Exibir
        </label>

    </div>
    <div class="container">
        Museus:
        <label class="radio-inline">
            <input type="radio" name="optradio">Exibir
        </label>
        <label class="radio-inline">
            <input type="radio" name="optradio">Nao Exibir
        </label>
    </div>
    <div class="container">
        Parques:                           
        <label class="radio-inline">
            <input type="radio" name="optradio">Exibir

        </label>
        <label class="radio-inline">
            <input type="radio" name="optradio">Nao Exibir

        </label>
    </div>
    <div class="container">
        Teatros:
        <label class="radio-inline">
            <input type="radio" name="optradio">Exibir

        </label>
        <label class="radio-inline">
            <input type="radio" name="optradio">Nao Exibir

        </label>
    </div>
</h2>



<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>

<body>

    <div class="container">
        <button type="button" class="btn btn-primary btn-lg btn-block">Aplicar</button>

    </div>

</body>

</html>
