<!doctype html>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
<html>
	<head>
		<title>Projeto 1</title>
	<meta charset="utf-8"/>
	</head>
	<div class="body-control"><br><br><br><br><br><br>
		<header>
			<nav class="container">
			    <form class="form-inline">
			    	<h1>Localização</h1>
			    	<img class='img-config1' src="assets/images/localizacao.png">
			    </form>
			</nav>
		</header>
	<section><br><br><br><br>
		<section class="container">
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<h2>Pais:</h2>&nbsp;&nbsp;
			<div class="form-group">
	    		<select class="form-control">
		      		<option>Brasil</option>
		    	</select>
	 	 	</div>
 	 	</section><br>
 	 	<section class="container">
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<h2>UF:</h2>&nbsp;&nbsp;
			<div class="form-group">
	    		<select class="form-control">
		      		<option>DF</option>
		      		<option>GO</option>
		      		<option>MG</option>
		    	</select>
	 	 	</div>
 	 	</section><br>
 	 	<section class="container">
			<h2>Cidade:</h2>&nbsp;&nbsp;
			<div class="form-group">
	    		<select class="form-control">
		      		<option>Brasília</option>
		      		<option>Goiás</option>
		      		<option>Belo Horizonte</option>
		    	</select>
	 	 	</div>
 	 	</section><br><br><br><br><br>
 	 	<section class="container">
			<a routerLink="/pagina4" class="btn btn-primary btn-lg">NÃO FILTRAR LOCAIS</a>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<a routerLink="/pagina3" class="btn btn-primary btn-lg">FILTRAR LOCAIS</a>
 	 	</section><br><br>
 	 	<footer class="container">
 			<a routerLink="/pagina1"><h2>Retornar</h2></a>
 		</footer>
 	 	<br><br><br><br><br><br>
	</section>
	</div>
</html>